@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
  text-rendering: optimizeLegibility;
  /* outline: 2px solid !important; */
  /* background: rgb(0 100 0 / 0.1) !important; */
}

:root {
  --navbarHeight: 3rem;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #2e3440;
}

main#home {
  z-index: 15;
  text-align: center;
  position: fixed;
  top: var(--navbarHeight);
  height: calc(100vh - var(--navbarHeight));
  width: 100vw;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
main#home .pageSlides {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
}
.carousel  {
  height: 100%;
  width: 100%;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}
.carousel .carouselSlides{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: none;
  scroll-snap-align: start;
}

main#home .pageSlides#footer{
  justify-content: space-between;
}