@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  /* outline: 2px solid !important; */
  /* background: rgb(0 100 0 / 0.1) !important; */
}

:root {
  --navbarHeight: 3rem;
}


.terminal {
  border-radius: 0.5rem;
  /* box-shadow: 0 0 5px 2px #3e3e3e; */
  height: 80vh;
  width: 80vw;
  max-width: 35em;
  max-height: 20em;
  margin: auto;
  margin-bottom: 20vh;
}

/* 
----------
impossible checkbox
----------
*/

#darkLight{
  z-index: 10;
  font-size: 18px;
  position: absolute;
  top: 0;
  right: calc(5vw + 4rem) ;
  height: var(--navbarHeight);
  display: flex;
  align-items: center;
  transition: all 750ms ease;
}
.switchWrapper{
  position: absolute;
  z-index: 10;
  top: 0;
  right: 5vw;
  height: var(--navbarHeight);
  display: flex;
  align-items: center;
}
.switch-container {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: rgb(73, 73, 73);
  box-shadow: 0 2px 4px inset rgba(0, 0, 0, 0.671);
  transition: all 0.4s ease-out;
}
.switch-container .switch-button {
  width: 16px;
  height: 16px;
  margin: 2px;
  border-radius: 50%;
  background: white;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
  transition: all 0.4s ease-out;
}

.switch-container.flipped .switch-button {
  margin-left: 22px;
  background-color: #111111;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  transition: all 0.4s ease-out;

}
.switch-container.ready .switch-button {
  cursor: pointer;
}

.handWrapper{
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: var(--navbarHeight);
}
.reach-hand-right {
  height: 23px;
  width: 0;
  background: rgb(54, 26, 9);
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  transition: all 0.4s ease-out;
}
.reach-hand-right.reach {
  animation: anim-arm-reach-right 0.8s;
}

@keyframes anim-arm-reach-right {
  from {
    width: 0;
  }
  60% {
    width: 4vw;
  }
  80% {
    width: 5.2vw;
  }
  100% {
    width: 0;
  }
}