.bg_blur {
  filter: blur(2px);
}

header{
  height: var(--navbarHeight);
  z-index: 10;
  display: flex;
  align-items: center;
}

#hamBurger {
  margin-left: 2rem;
  z-index: 10;
  height: 30px;
  width: 36px;
  background-color: #a9b8b325;
  border-radius: 10%;
  transition: all 250ms ease-out;
}

#hamBurger:before,
#hamBurger:after {
  content: ' ';
  height: 2px;
  width: 24px;
  position: absolute;
  /* background: white; */
  transition: all 250ms ease-out;
}
#hamBurger:hover {
  opacity: 0.6;
  border-left: 1px solid white;
  border-right: 1px solid white;
  transition: all 250ms ease-out;
}
#hamBurger:before {
  transform: translateY(-8px) translateX(-12px);
}

#hamBurger:after {
  transform: translateY(6px) translateX(-12px);
}

#hamBurger.active:before {
  transform: rotate(45deg) translateY(8px) translateX(-10px);
}

#hamBurger.active:after {
  transform: rotate(-45deg) translateY(-10px) translateX(-8px);
}
nav#navLinks {
  z-index: -10;
  overflow-y: auto;
  opacity: 0;
  width: 100%;
  font-size: 1rem;
  position: absolute;
  top: var(--navbarHeight);
  height: calc(100vh - var(--navbarHeight));
  padding: 0 2rem ;
  /* color: white; */
  transition: all 0.7s ease-out;
}

nav#navLinks.active {
  z-index: 5;
  opacity: 1;
  transition: all 0.7s ease;
}
nav#navLinks ul li {
  width: 0;
  border-bottom: 2px solid rgb(122, 122, 122);
  transition: all 1s ease;
}
nav#navLinks.active ul li {
  width: 100%;
  transition: all 1s ease;
}
nav#navLinks ul li:last-child {
  border: none;
}
nav#navLinks ul li a {
  padding: 1.5em 0; /* also change nav#navLinks ul li a:hover padding */
  display: block;
  transition: all 0.5s ease;
}
nav#navLinks ul li a:hover {
  opacity: 0.8;
  padding: 1.5em; /* also change nav#navLinks ul li a padding */
  transition: all 0.5s ease;
}

@media (min-width: 768px) {
  nav#navLinks {
    z-index: 10;
    width: 60%;
    top: 0;
    left: 2rem;
    opacity: 1;
    padding: 0;
    height: var(--navbarHeight);
    transition: all 0.7s ease;
  }
  nav#navLinks ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav#navLinks ul li {
    width: auto;
    border-bottom: none;
    transition: all 1s ease;
  }
  nav#navLinks ul li a {
    text-align: center;
    padding: 0;
    opacity: 0.6;
    transition: all 0.5s ease;
  }
  nav#navLinks ul li a:hover {
    opacity: 1;
    padding: 0;
    transition: all 0.5s ease;
  }
}
